<div class="row">
	<div class="alert alert-info">
		<p><strong>Add your single compound to be registered. </strong><br/>Use the sketcher window to draw your compound. Sketcher window provided by ChemDoodle.</p>
	</div>
</div>
<form name="inputForm" class="form-horizontal" role="form">
	<div class="row">
		
		<div class="col-xs-1 centered">
			<div class="row"><h3 class="nexa blue">Properties</h3></div>
			<div ng-hide="validated.errors.invalidMolecule">
				<div class="row">
					<div class="col-xs-12 chemprop">
						<strong class="nexa">alogp</strong><br/>
						<span class="badge">{{ validated.properties.alogp || 0 | number:2 }}</span><br/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 chemprop">
						<strong class="nexa">H-bond acceptors</strong><br/>
						<span class="badge">{{ validated.properties.hba || 0 }}</span><br/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 chemprop">
						<strong class="nexa">H-bond donors</strong><br/>
						<span class="badge">{{ validated.properties.hbd || 0 }}</span><br/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 chemprop">
						<strong class="nexa">PSA</strong><br/>
						<span class="badge">{{ validated.properties.psa || 0 | number:2 }}</span><br/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 chemprop">
						<strong class="nexa">Rotatable bonds</strong><br/>
						<span class="badge">{{ validated.properties.rtb || 0 }}</span><br/>
					</div>
				</div>
			</div>
			<div ng-show="validated.errors.invalidMolecule" style="vertical-align:center;">
				Invalid molecule
			</div>
		</div>
		<div class="col-xs-5">
			<chemdoodle-window sketch-molfile="sketchMolfile" sketch-chemdoodle-json="sketchChemdoodleJson" fetch-data="fetchData()"></chemdoodle-window>
			<div id="sketcher_output"></div>
		</div>

		<div class="col-xs-6">
			
			<!-- Stereochem selector -->
			<div class="form-group" id="stereochem-group">
				<div class="col-xs-3">
					<label for="stereochem" class="nexa">Stereochem options</label>
				</div>
				<div class="col-xs-9">
					<!-- <select name="stereochem" id="stereochem" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select> -->
					<select ng-options="item.value | titlecase for item in stereochem_options track by item.name" class="form-control" ng-model="stereoSelected"></select>
				</div>
				
			</div>

			<!-- Mandatory fields -->
			<div class="form-group mandatory-group">
				<!-- dropdown -->
				<!-- freetext -->
				<div class="col-xs-3">
					<label for="labbook_id" class="nexa">Labbook ID</label>
				</div>
				<div class="col-xs-9">
					<input type="text" name="labbook_id" id="labbook_id" class="form-control">
				</div>

			</div>



			<!-- Custom Fields -->
			<div class="form-group" ng-repeat="custom_field in custom_fields" id="">
				<div class="col-xs-3"><input class="form-control" placeholder="Field Name" type="text" id="custom_field_name_{{custom_field}}" name="custom_field_name_{{custom_field}}"></div><div class="col-xs-8"><input type="text" name="custom_field_value_{{custom_field}}" id="custom_field_value_{{custom_field}}" class="form-control" placeholder="Value"></div><div class="col-xs-1" ng-click="removeCustomField({{custom_field}})"><span class="glyphicon glyphicon-minus-sign"></span></div>
			</div>

			<!-- Calculated properties here -->
			<div class="row text-center">
				<a ng-click="addCustomField()" class="btn btn-primary" role="button" ><span class="glyphicon glyphicon-plus-sign"></span> Add Custom Field</a>
			</div>
			

			<a class="btn btn-primary pull-right" role="button" ui-sref="demo.map" ng-click="saveToDatabase()">Save</a>

		</div>

		
		
	</div>

	<!-- Errors and warnings -->
	<div class="row" data-ng-show="validated.errors.mixture">
		<div class="alert alert-danger" id="validation-mixture-error">Mixture or Unknown salts found. Mixtures cannot be registered and only known salts can be registered.</div>
	</div>
	<div class="row" data-ng-show="validated.errors.invalidMolecule">
		<div class="alert alert-danger" id="validation-invalid-error">Invalid valency of sketched molecule - this cannot be registered at this time.</div>
	</div>
	<div class="row" data-ng-show="validated.errors.fullyInorganic">
		<div class="alert alert-danger" id="validation-inorganic-error">Wholly inorganic molecule - this cannot be registered at this time.</div>
	</div>
	<div class="row" data-ng-show="validated.errors.noNonSalt">
		<div class="alert alert-danger" id="validation-non-salt-error">Compound appears to be a mixture of organic salts - this cannot be registered at this time.</div>
	</div>

	<div class="row" ng-show="validated.warnings.inorganicCount == 0 && validated.warnings.tautomerCount ==0 && validated.warnings.saltCount ==0 &&  validated.warnings.painsCount == 0 ">
		<div class="alert alert-success" id="validation-success">No errors found</div>
	</div>
	<div class="row" data-ng-show="validated.warnings.inorganicCount > 0">
		<div class="alert alert-warning" id="validation-inorganic-warning">{{validated.warnings.inorganicCount}} inorganic <ng-pluralize count="validated.warnings.inorganicCount" when="{'0': 'atoms',
                       'one': 'atom',
                       'other': 'atoms'}"></ng-pluralize> detected</div>
	</div>
	<div class="row" data-ng-show="validated.warnings.saltCount > 0">
		<div class="alert alert-warning" id="validation-salt-warning">{{validated.warnings.saltCount}} known <ng-pluralize count="validated.warnings.saltCount" when="{'0': 'salts',
                       'one': 'salt',
                       'other': 'salts'}"></ng-pluralize> detected - these will be automactically registered</div>
	</div>
	<div class="row" data-ng-show="validated.warnings.tautomerCount > 0">
		<div class="alert alert-warning" id="validation-salt-warning">{{validated.warnings.tautomerCount}} <ng-pluralize count="validated.warnings.tautomerCount" when="{'0': 'tautomers or charge-separated systems were',
                       'one': 'tautomer or charge-separated system was',
                       'other': 'tautomers or charge-separated systems were'}"></ng-pluralize> detected</div>
	</div>



	<div class="row" ng-show="validated.warnings.painsCount > 0 ">
		 <div class="alert alert-warning" id="validation-errors">{{ validated.warnings.painsCount }} pan-assay interference (PAINS) <ng-pluralize count="validated.warnings.painsCount" when="{'0': 'hits',
                       'one': 'hit',
                       'other': 'hits'}"></ng-pluralize> found <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open_warnings, 'glyphicon-chevron-right': !open_warnings}" ng-click="open_warnings = !open_warnings"></i></div>
		 <div ng-show="open_warnings" ng-animate=" 'animate' ">
		 	<!-- In here is your template per error found -->

		 	<div class="row">
		 		<div class="col-xs-3" ng-repeat="(key, value) in validated.warnings " ng-if="key != 'painsCount' && key.indexOf('pains') == 0">
		 			<div class="well">{{key}}</div>
		 		</div>
		 	</div>

		 </div>
	</div>
	<div class="row">
		<div style="height:300px;"></div>
	</div>

</form>