<h2 class="blue">PAINS status</h2>

<div class="row">
	<!-- Dependent on pains hits -->
   <!--  <div class="alert alert-success">
        <p><strong>No PAINS signatures found. </strong><br/>Your compounds do not contain any pan-assay interference substructure hits.</p>
    </div> -->
    <div class="alert alert-danger">
        <p><strong>PAINS signatures found. </strong><br/>Your compounds contain X pan-assay interference substructure hits. These are displayed below.</p>
    </div>
</div>

<div class="row">

	<div class="col-xs-3">
		
	</div>

</div>
