
<div class="col-xs-12">
  <progressbar max="max" value="dynamic"><span class="pull-right" style="color:white; white-space:nowrap; margin-right:20px;">{{ step }} of {{ totalSteps }}</span></progressbar>
  <div ng-controller="MessageCtrl">
    <div id="messages" >
      <!-- erorr messages will be displayed here -->
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    </div>

    <div class="form-views" ui-view></div>

  </div>

</div>