{% extends "cbh_chem_api/cbh_template.html" %}
{% block content %}
      <h3 class="blue">Password Reset</h3>
      <p>This form will reset your password and email you a link and instructions to complete your password reset.</p>
      <form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<fieldset class="module aligned wide">
<div class="form-group"><label for="id_email" class="control-label  requiredField">Email address:<span class="asteriskField">*</span></label> {{ form.email }} <div class="controls "><input type="submit" value="Reset my password" /></div></div>
</fieldset>
</form>
{% endblock %}