{% extends "cbh_chem_api/cbh_template.html" %}
{% block content %}
      <h3 class="blue">Confirm Password Reset</h3>
      <p>You have requested to reset your password.</p>
      {% if validlink %}

      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

      <form action="" method="post">{% csrf_token %}
        <fieldset class="module aligned wide">
          {{ form.new_password1.errors }}
          <div class="form-group"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</div>
          {{ form.new_password2.errors }}
          <div class="form-group"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</div>
          <p><input type="submit" value="Change my password" /></p>
        </fieldset>
      </form>

      {% else %}

      <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset email via 
        <a href="{% url 'password_reset' %}">this link</a></p>

      {% endif %}
{% endblock %}