[submodule "src/cbh_chembl_ws_extension"]
	path = src/cbh_chembl_ws_extension
	url = git://github.com/thesgc/cbh_chembl_ws_extension.git
[submodule "src/chembl_business_model"]
	path = src/chembl_business_model
	url = git://github.com/thesgc/chembl_business_model.git
[submodule "src/chembl_extras"]
	path = src/chembl_extras
	url = git://github.com/thesgc/chembl_extras.git
[submodule "src/chembl_core_db"]
	path = src/chembl_core_db
	url = git://github.com/thesgc/chembl_core_db.git
[submodule "src/ng-chem"]
	path = src/ng-chem
	url = git://github.com/thesgc/ng-chem.git
[submodule "django-flowjs"]
	path = src/django-flowjs
	url = git://github.com/thesgc/django-flowjs.git
[submodule "src/cbh_chembl_id_generator"]
	path = src/cbh_chembl_id_generator
	url = git://github.com/thesgc/cbh_chembl_id_generator.git
[submodule "src/cbh_datastore_model"]
	path = src/cbh_datastore_model
	url = git://github.com/thesgc/cbh_datastore_model.git
[submodule "src/cbh_datastore_ws"]
	path = src/cbh_datastore_ws
	url = git://github.com/thesgc/cbh_datastore_ws.git
[submodule "src/cbh_core_ws"]
	path = src/cbh_core_ws
	url = git://github.com/thesgc/cbh_core_ws.git
