#-i https://pypi.anaconda.org/pypi/simple cairocffi
netifaces
fuzzywuzzy
BeautifulSoup
django==1.7.10
amqp
anyjson
args
behave
celery
clint
defusedxml
django-celery
django-cors-headers
django-extensions==1.4.0
django-grappelli==2.7.2
django-hstore==1.3.8
django-picklefield
django-solo
git+https://github.com/django-tastypie/django-tastypie.git#egg=master
enum34
kombu
mechanize
mimeparse
netaddr
parse
parse-type
python-dateutil
python-mimeparse
raven
shortuuid
simplejson
wsgi-intercept
xlrd
xmltodict
XlsxWriter
gunicorn
django-redis
django-rq
elasticsearch
jsonpatch
inflection
tastypie_spore_docs
dpath
uwsgi
