BeautifulSoup
django==1.7.7
South
amqp
anyjson
args
behave
billiard
bottle
celery
clint
defusedxml
django-celery
django-cors-headers
django-extensions
django-grappelli
django-guardian
django-hstore
django-picklefield
django-solo
django-tastypie
enum34
kombu
lxml
mechanize
mimeparse
netaddr
parse
parse-type
python-dateutil
python-mimeparse
raven
shortuuid
simplejson
wsgi-intercept
xlrd
xmltodict
XlsxWriter
gunicorn
django-redis-sessions
elasticsearch
jsonpatch