BeautifulSoup
django==1.7.10
South
amqp
anyjson
args
behave
billiard
bottle
celery
clint
defusedxml
django-celery
django-cors-headers
django-extensions==1.4.9
django-grappelli
django-guardian
django-hstore
django-picklefield
django-solo
-e git+git@github.com:django-tastypie/django-tastypie.git#egg=c4e90b195df8f3940965f12ae4d5d6a11fad8944
enum34
kombu
lxml
mechanize
mimeparse
netaddr
parse
parse-type
python-dateutil
python-mimeparse
raven
shortuuid
simplejson
wsgi-intercept
xlrd
xmltodict
XlsxWriter
gunicorn
django-redis
django-rq
elasticsearch
jsonpatch
inflection
tastypie_spore_docs
dpath

