-r pip_requirements.txt
-e git@github.com:thesgc/cbh_chembl_ws_extension.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/chembl_business_model.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/chembl_extras.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/cbh_chembl_model_extension.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/chembl_core_db.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/chembl_core_model.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/django-flowjs.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/cbh_chembl_id_generator.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/cbh_core_model.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/cbh_datastore_model.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/cbh_datastore_ws.git#egg=1.0.0_assayreg
-e git@github.com:thesgc/cbh_core_ws.git#egg=1.0.0_assayreg
