-r pip_requirements.txt
git+https://github.com/thesgc/cbh_chembl_ws_extension.git@1.0.0_assayreg
git+https://github.com/thesgc/chembl_business_model.git@1.0.0_assayreg
git+https://github.com/thesgc/chembl_extras.git@1.0.0_assayreg
git+https://github.com/thesgc/cbh_chembl_model_extension.git@1.0.0_assayreg
git+https://github.com/thesgc/chembl_core_db.git@1.0.0_assayreg
git+https://github.com/thesgc/chembl_core_model.git@1.0.0_assayreg
git+https://github.com/thesgc/django-flowjs.git@1.0.0_assayreg
git+https://github.com/thesgc/cbh_chembl_id_generator.git@1.0.0_assayreg
git+https://github.com/thesgc/cbh_core_model.git@1.0.0_assayreg
git+https://github.com/thesgc/cbh_datastore_model.git@1.0.0_assayreg
git+https://github.com/thesgc/cbh_datastore_ws.git@1.0.0_assayreg
git+https://github.com/thesgc/cbh_core_ws.git@1.0.0_assayreg
