

    <div id="footer" class="footer">
    	<div class="container">
    		<div class="row ">

    			<!-- Postal address -->
                <a id="contact"></a>
    			<div class="col-md-4 col-sm-6 col-xs-12" id="postal-address">
    				<div class="row">
	    				<div class="col-xs-1">
	    					<span class="glyphicon glyphicon-home"></span>
	    				</div>
	    				<div class="col-xs-10">
	    					<span>ChemBio Hub Project<br/>
		    				Old Road Campus Research Building<br/>
		    				Roosevelt Drive<br/>
		    				Oxford<br/>
		    				OX3 7DQ<br/>
		    				UK<br/></span>
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-xs-1">
	    					<span class="glyphicon glyphicon-earphone"></span>
	    				</div>
	    				<div class="col-xs-10">
	    					<span>01865 617577</span>
	    				</div>
	    			</div>
    				
    			</div>

    			<div class="col-md-3 col-sm-6 col-xs-12">
    				<div class="row">
	    				<a href="http://twitter.com/oxchembiohub" onclick='return !window.open(this.href);'><img src="/assets/img/social-icons/twitter.png" class="social-icon" alt="twitter logo" title="twitter logo" /> Follow @OxChemBioHub</a><br/>
	    				<a href="mailto:info@chembiohub.ox.ac.uk"><img src="/assets/img/social-icons/mail-icon.png" class="social-icon" alt="email logo" title="email logo" /> Email ChemBio Hub</a><br/>
	    				<a href="http://plus.google.com/106725711668905271458" onclick='return !window.open(this.href);'><img src="/assets/img/social-icons/google+.png" class="social-icon" alt="google+ logo" title="google+ logo" />Follow +OxChemBioHub</a>
	    			</div>
    			</div>

                <button class="btn pull-right scrollToTop btn-lg">Back to top <span class="glyphicon glyphicon-upload"></span> </button>

    		</div>

    		<div class="row center">


    			<div class="hidden-xs funding">
    				<div class="row">
    					We gratefully acknowledge the support of the following organisations:
    				</div>
    				<div class="row">

    					<img src="/assets/img/funders/ndm.png" title="Nuffield Department of Medicine Medical Sciences Division" alt="Nuffield Department of Medicine Medical Sciences Division"/>
    					<img src="/assets/img/funders/welcome.png" title="Supported by Wellcome Trust" alt="Supported by Wellcome Trust"/>
    					<img src="/assets/img/funders/hefce.png" title="Higher Education Funding Council For England" alt="Higher Education Funding Council For England" />
    					<img src="/assets/img/funders/johnfell.png" title="John Fell Fund" alt="John Fell Fund"/>

    				</div>
    			</div>

    			<div onclick="window.location='/about#funding'" class="visible-xs">
    				Thank you to our funding partners
    			</div>

    		</div>

    		<div class="row center copyright">

    			Copyright University of Oxford 2014 <!-- || Accessibility || Sitemap || Cookie policy -->

    		</div>

    	</div>
    </div>


    
     <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/assets/js/vendorjs/bootstrapValidator.min.js"></script>
    <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-55063522-1');ga('send','pageview');


/* Track outbound links in Google Analytics */
(function($) {
 
  "use strict";
 
  // current page host
  var baseURI = window.location.host;
 
  // click event on body
  $("body").on("click", function(e) {
 
    // abandon if link already aborted or analytics is not available
    if (e.isDefaultPrevented() || typeof ga !== "function") return;
 
    // abandon if no active link or link within domain
    var link = $(e.target).closest("a");
    if (link.length != 1 || baseURI == link[0].host) return;

    // cancel event and record outbound link
    e.preventDefault();
    var href = link[0].href;
    ga('send', {
      'hitType': 'event',
      'eventCategory': 'outbound',
      'eventAction': 'link',
      'eventLabel': href,
      'hitCallback': loadPage
    });
 
    // redirect after one second if recording takes too long
    setTimeout(loadPage, 1000);
 
    // redirect to outbound page
    function loadPage() {
      document.location = href;
    }
 
  });
 
})(jQuery); 

$(document).ready(function() {
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
});
</script>

   

    <script type="text/javascript" src="/assets/js/vendorjs/jquery.contenthover.min.js"></script>

</body>
</html>