

  
  	<!-- Fixed navbar -->
  	<nav class="navbar navbar-default" role="navigation">
  		<div class="container">


  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav navbar-right">
  					<li><a href="/">Home</a></li>
  					<li><a href="/about">About Us</a></li>
  					<li><a href="/#capabilities">Capabilities</a></li>
                    <li><a href="/#people">People</a></li>
                    <li><a href="/#data">Data</a></li>
  					<li><a href="/blog">Blog</a></li>
  					<li><a href="/symposium">Symposium</a></li>
  					<li><a href="#contact">Contact</a></li>
<!--             <li><a href="/whatsnext">What's next?</a></li>
-->            

			<!--<li><a href="/webauth/login">Login</a></li>-->
				</ul>

			</div>


<div class="navbar-header col-xs-12">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>


	<div class="col-sm-4 col-md-6">
		<div class="col-xs-6 col-sm-8 col-md-6">
			<a id="uni-logo" class="logo-oxweb" href="http://www.ox.ac.uk" class="col-6">
				<img src="../bower_components/chembiohub-theme/img/ox_brand1_rev_rect.gif" alt="University of Oxford logo" title="University of Oxford">
			</a>
		</div>
		<div class="col-sm-6 centered">
			<a id="cbh-logo"  href="/" class="hidden-xs hidden-sm" class="col-6">
				<img src="../bower_components/chembiohub-theme/img/CBH_2_2_LowRes.png" alt="ChemBioHub logo" title="ChemBioHub" style="max-height:78px;">
			</a>
		</div>
	</div>

	<div class="col-sm-8 col-md-6">
		<h1 class="pull-right">
			ChemBio Hub 
		</h1>
	</div>
</div>

</div>
</nav>

<nav id="subheading">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8" id="slogan">
				<!-- <h2>Supporting world-class chemical biology research</h2>-->
			</div>
			<div class="col-sm-6 col-md-4" id="social-icons">
				<a href="mailto:info@chembiohub.ox.ac.uk"><img src="../bower_components/chembiohub-theme/img/social-icons/mail-icon.png" title="Email"></a>
				<a href="http://twitter.com/oxchembiohub" onclick='return !window.open(this.href);'><img src="../bower_components/chembiohub-theme/img/social-icons/twitter.png" href="#" title="@OxChemBioHub"></a>
				<a href="http://plus.google.com/106725711668905271458" onclick='return !window.open(this.href);'><img src="../bower_components/chembiohub-theme/img/social-icons/google+.png" href="#" title="Google +"></a>
				<a href="/blog" onclick='return !window.open(this.href);'><img src="../bower_components/chembiohub-theme/img/social-icons/rss.png" href="#" title="ChemBio Hub blog"></a>
				<a href="https://github.com/orgs/thesgc/teams/chembio-hub/repositories" onclick='return !window.open(this.href);'><img src="../bower_components/chembiohub-theme/img/social-icons/GitHub-Mark-Light-32px.png" title="Github"></a>
			</div>
		</div>
	</div>
</nav>
